In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\Admin\Downloads\Products.csv')
print(df)

       ProductID                                            Product  \
0              1        Original Disinfectant Toilet Cleaner Liquid
1              2  Disinfectant Surface & Floor Cleaner Liquid - ...
2              3                         Surface Disinfectant Spray
3              4  Harpic Disinfectant Toilet Cleaner Original200...
4              5  Harpic Toilet Cleaner Liquid - Original 1 L + ...
...          ...                                                ...
27550      27551                   Canned Sardine - in Tomato Sauce
27551      27552                                       Silver Belly
27552      27553                             Prawns - Pd Xtra Large
27553      27554   Ready to Cook - Large Prawns (Peeled & Deveined)
27554      27555                          Tuna Spread In Mayonnaise

       Category_ID          Sub_Category          Brand  Sale_Price  \
0             5001  All Purpose Cleaners         Harpic         489
1             5001  All Purpose Cleaners          Lizol         302
2             5001  All Purpose Cleaners         Savlon         257
3             5001  All Purpose Cleaners       bb Combo          74
4             5001  All Purpose Cleaners       bb Combo         462
...            ...                   ...            ...         ...
27550         5010        Fish & Seafood   Golden Prize          75
27551         5010        Fish & Seafood  H.S. Dry Fish          45
27552         5010        Fish & Seafood        Seastar         247
27553         5010        Fish & Seafood         Buffet         275
27554         5010        Fish & Seafood   Golden Prize         185

       Market_Price                           Type
0               534                Toilet Cleaners
1               380         Floor & Other Cleaners
2               318  Disinfectant Spray & Cleaners
3                76                Toilet Cleaners
4               558                Toilet Cleaners
...             ...                            ...
27550            79                 Canned Seafood
27551            50                       Dry Fish
27552           290          Frozen Fish & Seafood
27553           305          Frozen Fish & Seafood
27554           195                 Canned Seafood

[27555 rows x 8 columns]

In [3]:
df.head()

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price,Type
0,1,Original Disinfectant Toilet Cleaner Liquid,5001,All Purpose Cleaners,Harpic,489,534,Toilet Cleaners
1,2,Disinfectant Surface & Floor Cleaner Liquid - ...,5001,All Purpose Cleaners,Lizol,302,380,Floor & Other Cleaners
2,3,Surface Disinfectant Spray,5001,All Purpose Cleaners,Savlon,257,318,Disinfectant Spray & Cleaners
3,4,Harpic Disinfectant Toilet Cleaner Original200...,5001,All Purpose Cleaners,bb Combo,74,76,Toilet Cleaners
4,5,Harpic Toilet Cleaner Liquid - Original 1 L + ...,5001,All Purpose Cleaners,bb Combo,462,558,Toilet Cleaners

In [4]:
df.tail()

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price,Type
27550,27551,Canned Sardine - in Tomato Sauce,5010,Fish & Seafood,Golden Prize,75,79,Canned Seafood
27551,27552,Silver Belly,5010,Fish & Seafood,H.S. Dry Fish,45,50,Dry Fish
27552,27553,Prawns - Pd Xtra Large,5010,Fish & Seafood,Seastar,247,290,Frozen Fish & Seafood
27553,27554,Ready to Cook - Large Prawns (Peeled & Deveined),5010,Fish & Seafood,Buffet,275,305,Frozen Fish & Seafood
27554,27555,Tuna Spread In Mayonnaise,5010,Fish & Seafood,Golden Prize,185,195,Canned Seafood

In [5]:
df.size

220440

In [6]:
df.shape

(27555, 8)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27555 entries, 0 to 27554
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductID     27555 non-null  int64
 1   Product       27555 non-null  object
 2   Category_ID   27555 non-null  int64
 3   Sub_Category  27555 non-null  object
 4   Brand         27555 non-null  object
 5   Sale_Price    27555 non-null  int64
 6   Market_Price  27555 non-null  int64
 7   Type          27555 non-null  object
dtypes: int64(4), object(4)
memory usage: 1.3+ MB

In [9]:
df.describe()

         ProductID   Category_ID    Sale_Price  Market_Price
count  27555.00000  27555.000000  27555.000000  27555.000000
mean   13778.00000   5005.191145    322.532644    382.059154
std     7954.58767      2.756677    486.260862    581.729219
min        1.00000   5001.000000      2.000000      3.000000
25%     6889.50000   5003.000000     95.000000    100.000000
50%    13778.00000   5005.000000    190.000000    220.000000
75%    20666.50000   5008.000000    359.000000    425.000000
max    27555.00000   5011.000000  12500.000000  12500.000000

In [10]:
df.describe(include ="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ProductID,27555.0,NaN,NaN,NaN,13778.0,7954.58767,1.0,6889.5,13778.0,20666.5,27555.0
Product,27555,23533,Turmeric Powder/Arisina Pudi,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category_ID,27555.0,NaN,NaN,NaN,5005.191145,2.756677,5001.0,5003.0,5005.0,5008.0,5011.0
Sub_Category,27555,90,Skin Care,2294,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brand,27555,2314,Fresho,638,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sale_Price,27555.0,NaN,NaN,NaN,322.532644,486.260862,2.0,95.0,190.0,359.0,12500.0
Market_Price,27555.0,NaN,NaN,NaN,382.059154,581.729219,3.0,100.0,220.0,425.0,12500.0
Type,27555,426,Face Care,1508,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.dtypes

ProductID        int64
Product         object
Category_ID      int64
Sub_Category    object
Brand           object
Sale_Price       int64
Market_Price     int64
Type            object
dtype: object

In [12]:
df.isnull()

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price,Type
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
27550,False,False,False,False,False,False,False,False
27551,False,False,False,False,False,False,False,False
27552,False,False,False,False,False,False,False,False
27553,False,False,False,False,False,False,False,False
27554,False,False,False,False,False,False,False,False

In [13]:
df.isna().any()

ProductID       False
Product         False
Category_ID     False
Sub_Category    False
Brand           False
Sale_Price      False
Market_Price    False
Type            False
dtype: bool

In [14]:
df.isnull().sum()

ProductID       0
Product         0
Category_ID     0
Sub_Category    0
Brand           0
Sale_Price      0
Market_Price    0
Type            0
dtype: int64

In [15]:
# LOC IS SELECTED TO USE ANY LABLES IN COLOUMS 
# THE LABLES OF COLOUMS ARE COLOUMS NAMES

In [16]:
df.loc[:10,['Market_Price','Sale_Price']]

    Market_Price  Sale_Price
0            534         489
1            380         302
2            318         257
3             76          74
4            558         462
5            362         299
6            184         162
7            273         247
8            273         247
9            359         318
10           540         483

In [17]:
df.iloc[:4,:10]

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price,Type
0,1,Original Disinfectant Toilet Cleaner Liquid,5001,All Purpose Cleaners,Harpic,489,534,Toilet Cleaners
1,2,Disinfectant Surface & Floor Cleaner Liquid - ...,5001,All Purpose Cleaners,Lizol,302,380,Floor & Other Cleaners
2,3,Surface Disinfectant Spray,5001,All Purpose Cleaners,Savlon,257,318,Disinfectant Spray & Cleaners
3,4,Harpic Disinfectant Toilet Cleaner Original200...,5001,All Purpose Cleaners,bb Combo,74,76,Toilet Cleaners

In [18]:
# slicing 
df.slicing[0:5]

AttributeError: 'DataFrame' object has no attribute 'slicing'

In [19]:
# Nunique  counts the number of unique entries over the column (or) rows 
# it is very useful in caterogical features.

In [20]:
# Nunique

In [21]:
df.nunique()

ProductID       27555
Product         23533
Category_ID        11
Sub_Category       90
Brand            2314
Sale_Price       1438
Market_Price     1229
Type              426
dtype: int64

In [22]:
#MEMERY USAGE

In [23]:
df.memory_usage()

Index               64
ProductID       220440
Product         110220
Category_ID     220440
Sub_Category    110220
Brand           110220
Sale_Price      220440
Market_Price    220440
Type            110220
dtype: int64

In [24]:
#SAMPLE
df.sample(n=10)

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price,Type
21171,21172,"Plastic Cloth Hangers - Brown, Elegance",5002,Storage & Accessories,Laplast,159,399,Wall Hooks & Hangers
16581,16582,Oil - Mustard,5008,Skin Care,Moti's,90,150,Body Care
21872,21873,Maxx Pet Container - Yellow,5002,Storage & Accessories,Saaj,163,163,Containers Sets
18125,18126,Skin Purifying Jasmine Aroma Mask,5008,Skin Care,Organic Harvest,113,125,Face Care
16150,16151,Manuka Honey Multifloral,5004,"Sauces, Spreads & Dips",Nelson Honey,1999,1999,Honey & Maple Syrup
8006,8007,Spectra Dual Colour Graduated Dressing Comb - ...,5008,Hair Care,Vega,250,250,Tools & Accessories
14544,14545,Chocolate - Chips,5006,Ready To Cook & Eat,Ask Foods,65,65,Home Baking
1090,1091,Greek Yogurt - Strawberry,5004,Bakery Snacks,Epigamia,306,360,Flavoured & Greek Yogurt
16222,16223,Chicken Premium Ham,5010,"Sausages, Bacon & Salami",La Carne,200,200,Chicken Sausages
5524,5525,Man - Green Eau De Toilette Deodorant,5008,Fragrances & Deos,Nike,223,279,Men's Deodorants

In [25]:
#GROUP FUNCTION 
df[['Product','Sale_Price','Market_Price']].groupby(['Product','Sale_Price','Market_Price']).mean()

Empty DataFrame
Columns: []
Index: [(& Moms - Citrus Soap, 195, 195), (& Moms - Sandal Soap, 108, 120), (& Moms Bathing Soap - Jasmine, 108, 120), (& Moms Bathing Soap - Tulsi, 108, 120), (0.0 Non Alcoholic Beer, 56, 75), (0.0% Non Alcohol Beer- Zero Dot Zero, 120, 120), (1 Million Prive EDP, 5800, 5800), (1 Minute Manicure, Hand Scrub Grape Fruit Seed Oil, Strawberry Extract & Honey 100% Natural, 350, 350), (1 Minute Pedicure, Foot Scrub Tea Tree Oil, Lemon Oil & Vitamin B3 100% Natural, 350, 350), (1 To 1 Baking Flour - Gluten Free, 641, 675), (1-2-3 Noodles - Chicken Flavour, 12, 12), (1-2-3 Noodles - Pure Vegetarian, 28, 35), (1-2-3 Noodles - Veg Masala Flavour, 12, 12), (10 Cavity Silicone Smiley Shape Chocolate/Ice Cube Mould - Yellow, 119, 429), (10-In-1 Bioactive Hair Oil - 10 Pure Oils in 1, 799, 899), (10-In-1 Complete Care Shampoo, 499, 499), (100 % Coconut Water - With No Added Sugar, 240, 270), (100 % Mixed Fruit Juice, 108, 135), (100 % Pure Honey - Cinnamon, 800, 800), (100 % Pure Honey - Ginger, 800, 800), (100 % Pure Honey - Lemon, 800, 800), (100 % Pure Honey - Litchi, 800, 800), (100 % Pure Organic Honey - Ginger, 320, 320), (100 % Pure Organic Honey - Infused With Cinnamon, 320, 320), (100% Anti Hangover Drink - Apple, 100, 100), (100% Anti Hangover Drink - Blackberry, 100, 100), (100% Anti Hangover Drink - Lemon, 100, 100), (100% Apple Juice, 270, 270), (100% Authentic Italian Pomace Olive Oil, 3150, 3150), (100% Ayurvedic Anti-Hairfall Oil - With Bhringraj & Amla, 359, 399), (100% Compostable & Bio-Degradable Garbage Bags - Extra-Large, 30X37, 225, 225), (100% Compostable & Bio-Degradable Garbage Bags - Large, 24X32, 153, 153), (100% Compostable & Bio-Degradable Garbage Bags - Medium, 19X21, 126, 126), (100% Compostable & Bio-Degradable Garbage Bags - Small, 17X19, 119, 119), (100% Green Tea, 62, 69), (100% Green Tea, 142, 149), (100% Juice - Orange 1 lt + Apple 1 lt + Mixed Fruit 1 lt, 405, 405), (100% Melamine 3D Serving Spoon - Orange, 179, 230), (100% Melamine 3D Soup Spoon - Blue, 264, 264), (100% Melamine 750 ml Mixing Bowl With Anti Skid Grip - Green, 149, 200), (100% Melamine 750 ml Mixing Bowl With Anti Skid Grip - Yellow, 149, 200), (100% Melamine Dinner Plate Set - Black, 489, 568), (100% Melamine Dinner Set - Green, 659, 902), (100% Melamine Dinner Set - Green, 719, 974), (100% Melamine Dinner Set - Red, 659, 902), (100% Melamine Dinner Set Black, 659, 902), (100% Melamine Full Plate 10.5" - Green, 149, 200), (100% Melamine Full Plate 10.5" - Yellow, 149, 200), (100% Melamine Idli/Pasta Plate - Green, 149, 200), (100% Melamine Idli/Pasta Plate - Orange, 149, 200), (100% Melamine Idli/Pasta Plate - Red, 149, 200), (100% Melamine Idli/Pasta Plate - Yellow, 149, 200), (100% Melamine Long Tray, 269, 308), (100% Melamine Nappy Bowl Combo Set, 309, 408), (100% Melamine Noodle Bowl - Red, 129, 164), (100% Melamine Octa Chatni Bowl Set - Red, Black, Yellow, 149, 200), (100% Melamine Popcorn Bowl - Blue, 129, 200), (100% Melamine Popcorn/Snack Bow - Green, 129, 154), (100% Melamine Quadra Chutney Bowl - Black, Green & Yellow, 149, 200), (100% Melamine Quadra Serving Bowl - Small, Black, 369, 432), (100% Melamine Quarter/Half Plate - Black, 259, 296), (100% Melamine Quarter/Half Plate - NSC, 279, 320), (100% Melamine Serving Spoon - Fantastic BLG, 184, 184), (100% Melamine Snack Bowl Set - Black, 419, 492), (100% Melamine Snack Bowl Set - Red, 419, 492), (100% Melamine Soup Bowl With Spoon Set - Red, 139, 172), (100% Melamine Soup Spoon Set - Black, 149, 200), (100% Melamine Soup Spoon Set - Red, 149, 200), (100% Melamine Tea Spoon Set - Black, 209, 262), (100% Melamine Tumbler Set - Green, 149, 200), (100% Melamine Tumbler Set - Yellow, 149, 200), (100% Melamine Veg Bowl - Black, 279, 326), (100% Melamine Veg Bowl - RDB, 299, 352), (100% Melamine Veg Bowl Set - Green, 149, 200), (100% Melamine Veg Bowl Set - Red, 149, 200), (100% Melamine Veg Bowl Set - Yellow, 149, 200), (100% Melamine Waves Nappy/Serving Bowl Set - Black, 359, 418), (100% Mixed Fruit Juice, 270, 270), (100% Natural & Healthy Snacks - Carrot & Cumin+Apple & Cinnamon (9+ Months 50G), 280, 280), (100% Natural & Pure Coconut Oil - Unrefined, 180, 180), (100% Natural & Pure Coconut Oil - Unrefined, 335, 335), (100% Natural & Pure Gingelly Oil - Unrefined, Cold-Pressed, 205, 205), (100% Natural & Pure Gingelly Oil - Unrefined, Cold-Pressed, 385, 385), (100% Natural & Pure Groundnut Oil - Unrefined, Cold-Pressed, 155, 155), (100% Natural & Pure Groundnut Oil - Unrefined, Cold-Pressed, 1400, 1400), (100% Natural Coconut Water, 150, 150), (100% Natural Grapedseed Oil, 995, 995), (100% Natural Intimate Wipes, 120, 120), (100% Natural Mosquito Repellent Fabric Roll On - Citrus Fragrance, 66, 75), (100% Natural Mosquito Repellent Fabric Roll On - Fruity Fragrance, 66, 75), (100% Natural Mosquito Repellent Patches, 75, 75), (100% Natural Mosquito Repellent Patches, 204, 240), (100% Natural Porridge Mix - Sathu Maavu, 6-8 Months, No Preservatives, No Artificial Colours, 349, 349), (100% Natural Premium Californian Almonds - Value Pack, 469, 625), (100% Natural Premium Whole Cashews - Value Pack, 581, 775), (100% Orange Juice, 405, 405), (100% Organic Bamboo Toothbrush - For Adults, 897, 897), (100% Organic Cotton Biodegradable Sanitary Pads - Overnight, 249, 299), (100% Organic Cotton Biodegradable Sanitary Pads - Regular, 249, 299), (100% Organic Cotton Biodegradable Tampons - Regular, 235, 279), ...]

[26129 rows x 0 columns]

In [26]:
df[['Sale_Price','Market_Price']].groupby('Sale_Price').agg(['mean','count'])

            Market_Price
                    mean count
Sale_Price
2              15.000000     1
3               3.000000     1
5               5.080000    25
6               7.714286     7
8               9.333333     3
...                  ...   ...
7299         7299.000000     1
7999        12245.000000     1
8184        10769.000000     1
10090       10090.000000     1
12500       12500.000000     1

[1438 rows x 2 columns]

In [27]:
df.index

RangeIndex(start=0, stop=27555, step=1)

In [32]:
df.columns

Index(['ProductID', 'Product', 'Category_ID', 'Sub_Category', 'Brand',
       'Sale_Price', 'Market_Price', 'Type'],
      dtype='object')

In [33]:
#Sorting
#Dataframe by Sorting the index

In [34]:
df.sort_index(axis=1,ascending=True)

,Brand,Category_ID,Market_Price,Product,ProductID,Sale_Price,Sub_Category,Type
0,Harpic,5001,534,Original Disinfectant Toilet Cleaner Liquid,1,489,All Purpose Cleaners,Toilet Cleaners
1,Lizol,5001,380,Disinfectant Surface & Floor Cleaner Liquid - ...,2,302,All Purpose Cleaners,Floor & Other Cleaners
2,Savlon,5001,318,Surface Disinfectant Spray,3,257,All Purpose Cleaners,Disinfectant Spray & Cleaners
3,bb Combo,5001,76,Harpic Disinfectant Toilet Cleaner Original200...,4,74,All Purpose Cleaners,Toilet Cleaners
4,bb Combo,5001,558,Harpic Toilet Cleaner Liquid - Original 1 L + ...,5,462,All Purpose Cleaners,Toilet Cleaners
...,...,...,...,...,...,...,...,...
27550,Golden Prize,5010,79,Canned Sardine - in Tomato Sauce,27551,75,Fish & Seafood,Canned Seafood
27551,H.S. Dry Fish,5010,50,Silver Belly,27552,45,Fish & Seafood,Dry Fish
27552,Seastar,5010,290,Prawns - Pd Xtra Large,27553,247,Fish & Seafood,Frozen Fish & Seafood
27553,Buffet,5010,305,Ready to Cook - Large Prawns (Peeled & Deveined),27554,275,Fish & Seafood,Frozen Fish & Seafood
27554,Golden Prize,5010,195,Tuna Spread In Mayonnaise,27555,185,Fish & Seafood,Canned Seafood

In [35]:
df.sort_values(by = "Sale_Price")

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price,Type
9435,9436,Curry Leaves,5011,Herbs & Seasonings,Fresho,2,15,Indian & Exotic Herbs
7397,7398,Serum,5008,Hair Care,Livon,3,3,Hair Oil & Serum
2682,2683,50-50 Timepass Salted Biscuits,5006,Biscuits & Cookies,Britannia,5,5,Salted Biscuits
2763,2764,Tiger Elaichi Cream Biscuits,5006,Biscuits & Cookies,Britannia,5,5,Glucose & Milk Biscuits
3145,3146,Dreams Cup Cake - Choco,5007,Cakes & Pastries,Elite,5,5,Muffins & Cup Cakes
...,...,...,...,...,...,...,...,...
12256,12257,Extra Virgin Olive Oil,5004,Oils & Vinegar,Abbies,7299,7299,Extra Virgin Olive Oil
23024,23025,"Gas Stove-4 Burner Royale Plus Schott Glass, B...",5002,Cookware & Non Stick,Prestige,7999,12245,Gas Stove
27360,27361,Epilator SE9-9961 Legs-Body-Face,5008,Feminine Hygiene,Braun,8184,10769,Hair Removal
13856,13857,Pet Food - N&D Team Breeder Puppy Top Farmina,5002,Pet Food & Accessories,Farmina,10090,10090,Pet Meals & Treats
14051,14052,Bravura Clipper,5002,Pet Food & Accessories,Wahl,12500,12500,Pet Cleaning & Grooming

In [36]:
#nsmallest
df.nsmallest (5,'Market_Price')

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price,Type
7397,7398,Serum,5008,Hair Care,Livon,3,3,Hair Oil & Serum
1613,1614,Hand Wash - Moisture Shield,5008,Bath & Hand Wash,Savlon,5,5,Hand Wash & Sanitizers
2591,2592,Good Day Butter Cookies,5006,Biscuits & Cookies,Britannia,5,5,Cookies
2640,2641,Happy Happy Choco-Chip Cookies,5006,Biscuits & Cookies,Parle,5,5,Glucose & Milk Biscuits
2682,2683,50-50 Timepass Salted Biscuits,5006,Biscuits & Cookies,Britannia,5,5,Salted Biscuits

In [37]:
df.nsmallest (5,'Sale_Price')

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price,Type
9435,9436,Curry Leaves,5011,Herbs & Seasonings,Fresho,2,15,Indian & Exotic Herbs
7397,7398,Serum,5008,Hair Care,Livon,3,3,Hair Oil & Serum
1613,1614,Hand Wash - Moisture Shield,5008,Bath & Hand Wash,Savlon,5,5,Hand Wash & Sanitizers
2591,2592,Good Day Butter Cookies,5006,Biscuits & Cookies,Britannia,5,5,Cookies
2640,2641,Happy Happy Choco-Chip Cookies,5006,Biscuits & Cookies,Parle,5,5,Glucose & Milk Biscuits

In [38]:
# nlargest
df.nlargest (5,'Market_Price')

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price,Type
14051,14052,Bravura Clipper,5002,Pet Food & Accessories,Wahl,12500,12500,Pet Cleaning & Grooming
23024,23025,"Gas Stove-4 Burner Royale Plus Schott Glass, B...",5002,Cookware & Non Stick,Prestige,7999,12245,Gas Stove
27360,27361,Epilator SE9-9961 Legs-Body-Face,5008,Feminine Hygiene,Braun,8184,10769,Hair Removal
22994,22995,"Gas Stove-3 Burner Royale Plus Schott Glass, B...",5002,Cookware & Non Stick,Prestige,6999,10695,Gas Stove
13856,13857,Pet Food - N&D Team Breeder Puppy Top Farmina,5002,Pet Food & Accessories,Farmina,10090,10090,Pet Meals & Treats

In [39]:
df.nlargest (5,'Sale_Price')

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price,Type
14051,14052,Bravura Clipper,5002,Pet Food & Accessories,Wahl,12500,12500,Pet Cleaning & Grooming
13856,13857,Pet Food - N&D Team Breeder Puppy Top Farmina,5002,Pet Food & Accessories,Farmina,10090,10090,Pet Meals & Treats
27360,27361,Epilator SE9-9961 Legs-Body-Face,5008,Feminine Hygiene,Braun,8184,10769,Hair Removal
23024,23025,"Gas Stove-4 Burner Royale Plus Schott Glass, B...",5002,Cookware & Non Stick,Prestige,7999,12245,Gas Stove
12256,12257,Extra Virgin Olive Oil,5004,Oils & Vinegar,Abbies,7299,7299,Extra Virgin Olive Oil

In [40]:
# drop_cols
drop_cols = ['Type']
df.drop(drop_cols,axis=1,inplace=True)

In [41]:
df

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price
0,1,Original Disinfectant Toilet Cleaner Liquid,5001,All Purpose Cleaners,Harpic,489,534
1,2,Disinfectant Surface & Floor Cleaner Liquid - ...,5001,All Purpose Cleaners,Lizol,302,380
2,3,Surface Disinfectant Spray,5001,All Purpose Cleaners,Savlon,257,318
3,4,Harpic Disinfectant Toilet Cleaner Original200...,5001,All Purpose Cleaners,bb Combo,74,76
4,5,Harpic Toilet Cleaner Liquid - Original 1 L + ...,5001,All Purpose Cleaners,bb Combo,462,558
...,...,...,...,...,...,...,...
27550,27551,Canned Sardine - in Tomato Sauce,5010,Fish & Seafood,Golden Prize,75,79
27551,27552,Silver Belly,5010,Fish & Seafood,H.S. Dry Fish,45,50
27552,27553,Prawns - Pd Xtra Large,5010,Fish & Seafood,Seastar,247,290
27553,27554,Ready to Cook - Large Prawns (Peeled & Deveined),5010,Fish & Seafood,Buffet,275,305
27554,27555,Tuna Spread In Mayonnaise,5010,Fish & Seafood,Golden Prize,185,195

In [43]:
df.query('100 < Market_Price < 350')[:5]

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price
2,3,Surface Disinfectant Spray,5001,All Purpose Cleaners,Savlon,257,318
6,7,"Super Saver Pack Toilet Cleaner Original, 500m...",5001,All Purpose Cleaners,Harpic,162,184
7,8,Original 1 ltr + Bathroom Cleaner Lemon 500 ml,5001,All Purpose Cleaners,Harpic,247,273
8,9,Disinfectant Toilet Cleaner Liquid - 1 L + Bat...,5001,All Purpose Cleaners,Harpic,247,273
12,13,"Lizol Floor Cleaner, Citrus - 500ml + Harpic B...",5001,All Purpose Cleaners,bb Combo,172,188

In [44]:
df.query('40 < Sale_Price < 100')[:8]

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,Market_Price
3,4,Harpic Disinfectant Toilet Cleaner Original200...,5001,All Purpose Cleaners,bb Combo,74,76
22,23,Disinfectant Toilet Cleaner - White & Shine Bl...,5001,All Purpose Cleaners,Harpic,77,89
32,33,Fresh Guard Ocean Fresh Disinfectant Toilet Cl...,5001,All Purpose Cleaners,Domex,92,135
44,45,"Disinfectant Floor & Surface Cleaner - Citrus,...",5001,All Purpose Cleaners,BB Home,98,98
52,53,"Disinfectant Floor & Surface Cleaner - Neem, K...",5001,All Purpose Cleaners,BB Home,98,98
56,57,Phenyle - Cool Cyan,5001,All Purpose Cleaners,Germisol,60,60
59,60,Phenyle - Black Disinfectant Fluid,5001,All Purpose Cleaners,Germisol,69,73
60,61,Disinfectant Surface & Floor Cleaner Liquid - ...,5001,All Purpose Cleaners,Lizol,92,93

In [47]:
#new column
new_col=np.random.randn(27555)

#insert the new column at position 8
df.insert (6,'new_col',new_col)

In [48]:
df.head()

,ProductID,Product,Category_ID,Sub_Category,Brand,Sale_Price,new_col,Market_Price
0,1,Original Disinfectant Toilet Cleaner Liquid,5001,All Purpose Cleaners,Harpic,489,0.140751,534
1,2,Disinfectant Surface & Floor Cleaner Liquid - ...,5001,All Purpose Cleaners,Lizol,302,-1.186199,380
2,3,Surface Disinfectant Spray,5001,All Purpose Cleaners,Savlon,257,-1.158088,318
3,4,Harpic Disinfectant Toilet Cleaner Original200...,5001,All Purpose Cleaners,bb Combo,74,-1.230820,76
4,5,Harpic Toilet Cleaner Liquid - Original 1 L + ...,5001,All Purpose Cleaners,bb Combo,462,0.637482,558